.first_section {
    background-color: #1F2235;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 95px;
}

.first_section .under1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    background-color: #1F2235;
}

.first_section .under2 {
    width: 70%;
    background-color: #1F2235;
}

.first_section .under2 #nav1 {
    text-align: right;
}

.first_section .under2 #nav1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.first_section .under2 #nav1 ul li {
    display: inline-block;
    margin: 0 15px;
}

.first_section .under2 #nav1 ul li a {
    text-decoration: none;
    color: #fff;
    font-family: verdana;
    font-size: 18px;
}

.second_section {
    background-color: #24263B;
    display: flex;
    height: 600px;
    border: 2px solid;
}

.second_section .under_section1 {
    width: 60%;
    height: 600px;
}

.second_section .under_section1 .under1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24263B;
    height: 25%;
    border-right: dashed;
    border-bottom: dashed;
    box-sizing: border-box;
}

.second_section .under_section1 .under2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24263B;
    height: 50%;
    border-right: dashed;
    border-bottom: dashed;
    box-sizing: border-box;
}

.second_section .under_section1 .under3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24263B;
    height: 25%;
    border-right: dashed;
    box-sizing: border-box;
}

.second_section .under_section1 .under3 .under3-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid #FF4A57;
    color: white;
}

.second_section .under_section1 .under3 .under3-1 a {
    text-decoration: none;
    color: white;
}

.second_section .under_section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    background-color: #24263B;
}

.third_section {
    background-color: #1F2235;
    align-items: center;
    justify-content: center;
    height: 1000px;
    border: 2px solid;
}

.third_section .under1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2235;
    height: 20%;
    border-bottom: dashed;
    box-sizing: border-box;
}

.third_section .under2 {
    background-color: #1F2235;
    height: 80%;
}

.third_section .under2 .under2-1 {
    display: flex;
    background-color: #1F2235;
    height: 50%;
    border-bottom: dashed;
    box-sizing: border-box;
}

.third_section .under2 .under2-1 .radius-div1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2235;
    border-radius: 10%;
    width: 330px;
    height: 300px;
    position: relative;
    left: 125px;
    top: 50px;
    border: dashed;
    box-sizing: border-box;
}

.third_section .under2 .under2-1 .radius-div2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2235;
    border-radius: 10%;
    width: 330px;
    height: 300px;
    position: relative;
    left: 175px;
    top: 50px;
    border: dashed;
    box-sizing: border-box;
}

.third_section .under2 .under2-1 .radius-div3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2235;
    border-radius: 10%;
    width: 330px;
    height: 300px;
    position: relative;
    left: 225px;
    top: 50px;
    border: dashed;
    box-sizing: border-box;
}

.third_section .under2 .under2-2 {
    display: flex;
    height: 50%;
}

.third_section .under2 .under2-2 .radius-div4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2235;
    border-radius: 10%;
    width: 330px;
    height: 300px;
    position: relative;
    left: 125px;
    top: 50px;
    border: dashed;
    box-sizing: border-box;
}

.third_section .under2 .under2-2 .radius-div5 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2235;
    border-radius: 10%;
    width: 330px;
    height: 300px;
    position: relative;
    left: 175px;
    top: 50px;
    border: dashed;
    box-sizing: border-box;
}

.third_section .under2 .under2-2 .radius-div6 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2235;
    border-radius: 10%;
    width: 330px;
    height: 300px;
    position: relative;
    left: 225px;
    top: 50px;
    border: dashed;
    box-sizing: border-box;
}

.fourth_section {
    background-color: #222639;
    height: 600px;
    border: 2px solid black;
}

.fourth_section .under1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    background-color: #222639;
    border-bottom: dashed;
    box-sizing: border-box;
}

.fourth_section .under1 b {
    font-family: Roboto;
    font-size: 100px;
    font-weight: bolder;
    color: #fff;
}

.fourth_section .under2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    background-color: #222639;
}

.fourth_section .under2 .under3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    background-color: #222639;
    border-right: dashed;
    box-sizing: border-box;
}

.fourth_section .under2 .under4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
    background-color: #222639;
}

.fifth_section {
    background-color: #1F2235;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    border: 2px solid black;
}

.fifth_section .under1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: #1F2235;
    border-right: dashed;
    box-sizing: border-box;
}

.fifth_section .under2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: #1F2235;
}

.sixth_section {
    background-color: #23263A;
    align-items: center;
    justify-content: center;
    height: 2000px;
    border: 2px solid black;
}

.sixth_section .under1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    background-color: #23263A;
    border-bottom: dashed;
    box-sizing: border-box;
}

.sixth_section .under2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    background-color: #23263A;
}

.sixth_section .under3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    background-color: #23263A;
}

.sixth_section .under3 .under3-1 {
    background-color: #23263A;
    width: 340px;
    height: 100%;
    position: relative;
    left: -50px;
    border: dashed;
    box-sizing: border-box;
}

.sixth_section .under3 .under3-1 .box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: #23263A;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: dashed;
    box-sizing: border-box;
}

.sixth_section .under3 .under3-1 .box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #23263A;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: dashed;
    box-sizing: border-box;
}

.sixth_section .under3 .under3-1 .box3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-color: #23263A;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: dashed;
    box-sizing: border-box;
}

.sixth_section .under3 .under3-2 {
    background-color: #23263A;
    width: 340px;
    height: 100%;
    position: relative;
    left: -25px;
    border: dashed;
    box-sizing: border-box;
}

.sixth_section .under3 .under3-2 .box4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 560px;
    background-color: #23263A;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: dashed;
    box-sizing: border-box;
}

.sixth_section .under3 .under3-2 .box5 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 560px;
    background-color: #23263A;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: dashed;
    box-sizing: border-box;
}

.sixth_section .under3 .under3-3 {
    background-color: #23263A;
    width: 340px;
    height: 100%;
    position: relative;
    left: 0px;
    border: dashed;
    box-sizing: border-box;
}

.sixth_section .under3 .under3-3 .box6 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    background-color: #23263A;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: dashed;
    box-sizing: border-box;
}

.sixth_section .under3 .under3-3 .box7 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    background-color: #23263A;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: dashed;
    box-sizing: border-box;
}

.sixth_section .under3 .under3-3 .box8 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #23263A;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: dashed;
    box-sizing: border-box;
}

.seventh_section {
    background-color: #1F2235;
    align-items: center;
    justify-content: center;
    height: 800px;
    border: 2px solid black;
}

.seventh_section .under1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    background-color: #1F2235;
    border-bottom: dashed;
    box-sizing: border-box;
}

.seventh_section .under2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    background-color: #1F2235;
}

.seventh_section .under2 .radius-box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2235;
    border-radius: 2%;
    width: 350px;
    height: 500px;
    position: relative;
    left: -50px;
    top: 10px;
    border: dashed;
    box-sizing: border-box;
}

.seventh_section .under2 .radius-box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2235;
    border-radius: 2%;
    width: 350px;
    height: 500px;
    position: relative;
    left: 0px;
    top: 10px;
    border: dashed;
    box-sizing: border-box;
}

.seventh_section .under2 .radius-box3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2235;
    border-radius: 2%;
    width: 350px;
    height: 500px;
    position: relative;
    left: 50px;
    top: 10px;
    border: dashed;
    box-sizing: border-box;
}

.eighth_section {
    background-color: #23263A;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    border: 2px solid black;
}

.eighth_section .under1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    background-color: #23263A;
    border-right: dashed;
    box-sizing: border-box;
}

.eighth_section .under2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    background-color: #23263A;
    border-right: dashed;
    box-sizing: border-box;
}

.eighth_section .under3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    background-color: #23263A;
    border-right: dashed;
    box-sizing: border-box;
}

.eighth_section .under4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    background-color: #23263A;
}

.ninth_section {
    background-color: #1F2235;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    border: 2px solid black;
}

.ninth_section .span1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2235;
    width: 50%;
    height: 100%;
    border-right: dashed;
    box-sizing: border-box;
}

.ninth_section .span2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2235;
    width: 50%;
    height: 100%;
}

.tenth_section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    border: 2px solid black;
}

.tenth_section .under1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    background-color: #23263A;
    border-right: dashed;
    box-sizing: border-box;
}

.tenth_section .under2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    background-color: #23263A;
    border-right: dashed;
    box-sizing: border-box;
}

.tenth_section .under3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    background-color: #23263A;
    border-right: dashed;
    box-sizing: border-box;
}

.tenth_section .under4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    background-color: #23263A;
    border-right: dashed;
    box-sizing: border-box;
}

.tenth_section .under5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    background-color: #23263A;
}

.eleventh_section {
    height: 1500px;
    border: 2px solid black;
}

.eleventh_section .under1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    background-color: #1F2235;
    border-bottom: dashed;
    box-sizing: border-box;
}

.eleventh_section .under1 b {
    font-family: Roboto;
    font-size: 100px;
    font-weight: bolder;
    color: #fff;
}

.eleventh_section .under2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    background-color: #1F2235;
    border-bottom: dashed;
    box-sizing: border-box;
}

.eleventh_section .under3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    background-color: #1F2235;
    border-bottom: dashed;
    box-sizing: border-box;
}

.eleventh_section .under4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    background-color: #1F2235;
    border-bottom: dashed;
    box-sizing: border-box;
}

.eleventh_section .under5 {
    display: flex;
    width: 100%;
    height: 50%;
    background-color: #1F2235;
}

.eleventh_section .under5 .form1 {
    position: relative;
    left: 100px;
    top: 70px;
}

.eleventh_section .under5 .form1 #name {
    width: 550px;
    height: 65px;
    border-radius: 10px;
    background-color: #23263A;
    color: white;
    font-family: verdana;
    font-size: 15px;
}

.eleventh_section .under5 .form1 #email {
    width: 550px;
    height: 65px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: #23263A;
    color: white;
    font-family: verdana;
    font-size: 15px;
}

.eleventh_section .under5 .form1 #subject {
    width: 1130px;
    height: 65px;
    border-radius: 10px;
    background-color: #23263A;
    color: white;
    font-family: verdana;
    font-size: 15px;
}

.eleventh_section .under5 .form1 #message {
    width: 1130px;
    height: 140px;
    border-radius: 10px;
    background-color: #23263A;
    color: white;
    font-family: verdana;
    font-size: 15px;
}

.eleventh_section .under5 .form1 #send {
    width: 230px;
    height: 70px;
    border-radius: 50px;
    margin-top: 20px;
    background-color: #FF4A57;
    color: white;
    font-family: verdana;
    font-size: 15px;
}

.twelfth_section {
    height: 500px;
    border: 2px solid black;
}

.twelfth_section .under1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    background-color: #23263A;
    border-bottom: dashed;
    box-sizing: border-box;
}

.twelfth_section .under2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
    background-color: #23263A;
    border-bottom: dashed;
    box-sizing: border-box;
}

.twelfth_section .under3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
    background-color: #23263A;
    border-bottom: dashed;
    box-sizing: border-box;
}

.twelfth_section .under4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    background-color: #23263A;
}